.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : 'index.html')
          i.nav-icon.icon-speedometer
          |  Dashboard
          span.badge.badge-info NEW
      li.nav-title
        | Theme
      li.nav-item
        a.nav-link(href='colors.html')
          i.nav-icon.icon-drop
          |  Colors
      li.nav-item
        a.nav-link(href='typography.html')
          i.nav-icon.icon-pencil
          |  Typography
      li.nav-title
        | Components
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-puzzle
          |  Base
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='base/breadcrumb.html')
              i.nav-icon.icon-puzzle
              |  Breadcrumb
          li.nav-item
            a.nav-link(href='base/cards.html')
              i.nav-icon.icon-puzzle
              |  Cards
          li.nav-item
            a.nav-link(href='base/carousel.html')
              i.nav-icon.icon-puzzle
              |  Carousel
          li.nav-item
            a.nav-link(href='base/collapse.html')
              i.nav-icon.icon-puzzle
              |  Collapse
          li.nav-item
            a.nav-link(href='base/jumbotron.html')
              i.nav-icon.icon-puzzle
              |  Jumbotron
          li.nav-item
            a.nav-link(href='base/list-group.html')
              i.nav-icon.icon-puzzle
              |  List group
          li.nav-item
            a.nav-link(href='base/navs.html')
              i.nav-icon.icon-puzzle
              |  Navs
          li.nav-item
            a.nav-link(href='base/pagination.html')
              i.nav-icon.icon-puzzle
              |  Pagination
          li.nav-item
            a.nav-link(href='base/popovers.html')
              i.nav-icon.icon-puzzle
              |  Popovers
          li.nav-item
            a.nav-link(href='base/progress.html')
              i.nav-icon.icon-puzzle
              |  Progress
          li.nav-item
            a.nav-link(href='base/scrollspy.html')
              i.nav-icon.icon-puzzle
              |  Scrollspy
          li.nav-item
            a.nav-link(href='base/spinners.html')
              i.nav-icon.icon-puzzle
              |  Spinners
              span.badge.badge-info NEW
          li.nav-item
            a.nav-link(href='base/switches.html')
              i.nav-icon.icon-puzzle
              |  Switches
          li.nav-item
            a.nav-link(href='base/tabs.html')
              i.nav-icon.icon-puzzle
              |  Tabs
          li.nav-item
            a.nav-link(href='base/toasts.html')
              i.nav-icon.icon-puzzle
              |  Toasts
              span.badge.badge-info NEW
          li.nav-item
            a.nav-link(href='base/tooltips.html')
              i.nav-icon.icon-puzzle
              |  Tooltips
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-cursor
          |  Buttons
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='buttons/buttons.html')
              i.nav-icon.icon-cursor
              |  Buttons
          li.nav-item
            a.nav-link(href='buttons/brand-buttons.html')
              i.nav-icon.icon-cursor
              |  Brand Buttons
          li.nav-item
            a.nav-link(href='buttons/button-group.html')
              i.nav-icon.icon-cursor
              |  Buttons Group
          li.nav-item
            a.nav-link(href='buttons/dropdowns.html')
              i.nav-icon.icon-cursor
              |  Dropdowns
          li.nav-item
            a.nav-link(href='buttons/loading-buttons.html')
              i.nav-icon.icon-cursor
              |  Loading Buttons
              span.badge.badge-danger PRO
      li.nav-item
        a.nav-link(href='charts.html')
          i.nav-icon.icon-pie-chart
          |  Charts
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.fa.fa-code
          |  Editors
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='editors/code-editor.html')
              i.nav-icon.icon-note
              |  Code Editor
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='editors/markdown-editor.html')
              i.nav-icon.fa.fa-code
              |  Markdown
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='editors/text-editor.html')
              i.nav-icon.icon-note
              |  Rich Text Editor
              span.badge.badge-danger PRO
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-note
          |  Forms
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='forms/basic-forms.html')
              i.nav-icon.icon-note
              |  Basic Forms
          li.nav-item
            a.nav-link(href='forms/advanced-forms.html')
              i.nav-icon.icon-note
              |  Advanced
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='forms/validation.html')
              i.nav-icon.icon-note
              |  Validation
              span.badge.badge-danger PRO
      li.nav-item
        a.nav-link(href='google-maps.html')
          i.nav-icon.icon-map
          |  Google Maps
          span.badge.badge-danger PRO
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-star
          |  Icons
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='icons/coreui-icons.html')
              i.nav-icon.icon-star
              |  CoreUI Icons
              span.badge.badge-success NEW
          li.nav-item
            a.nav-link(href='icons/flags.html')
              i.nav-icon.icon-star
              |  Flags
          li.nav-item
            a.nav-link(href='icons/font-awesome.html')
              i.nav-icon.icon-star
              |  Font Awesome
              span.badge.badge-secondary 4.7
          li.nav-item
            a.nav-link(href='icons/simple-line-icons.html')
              i.nav-icon.icon-star
              |  Simple Line Icons
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-bell
          |  Notifications
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='notifications/alerts.html')
              i.nav-icon.icon-bell
              |  Alerts
          li.nav-item
            a.nav-link(href='notifications/badge.html')
              i.nav-icon.icon-bell
              |  Badge
          li.nav-item
            a.nav-link(href='notifications/modals.html')
              i.nav-icon.icon-bell
              |  Modals
          li.nav-item
            a.nav-link(href='notifications/toastr.html')
              i.nav-icon.icon-bell
              |  Toastr
              span.badge.badge-danger PRO
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-energy
          |  Plugins
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='plugins/calendar.html')
              i.nav-icon.icon-calendar
              |  Calendar
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='plugins/draggable-cards.html')
              i.nav-icon.icon-cursor-move
              |  Draggable
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='plugins/sliders.html')
              i.nav-icon.icon-equalizer
              |  Sliders
              span.badge.badge-danger PRO
          li.nav-item
            a.nav-link(href='plugins/spinners.html')
              i.nav-icon.fa.fa-spinner
              |  Spinners
              span.badge.badge-danger PRO
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-list
          |  Tables
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='tables/tables.html')
              i.nav-icon.icon-list
              |  Standard Tables
          li.nav-item
            a.nav-link(href='tables/datatables.html')
              i.nav-icon.icon-list
              |  DataTables
              span.badge.badge-danger PRO
      li.nav-item
        a.nav-link(href='widgets.html')
          i.nav-icon.icon-calculator
          |  Widgets
          span.badge.badge-info NEW
      li.nav-divider
      li.nav-title
        | Extras
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-star
          |  Pages
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='login.html', target='_top')
              i.nav-icon.icon-star
              |  Login
          li.nav-item
            a.nav-link(href='register.html', target='_top')
              i.nav-icon.icon-star
              |  Register
          li.nav-item
            a.nav-link(href='404.html', target='_top')
              i.nav-icon.icon-star
              |  Error 404
          li.nav-item
            a.nav-link(href='500.html', target='_top')
              i.nav-icon.icon-star
              |  Error 500
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.icon-layers
          |  Apps
        ul.nav-dropdown-items
          li.nav-item.nav-dropdown
            a.nav-link.nav-dropdown-toggle(href='#')
              i.nav-icon.icon-speech
              |  Invoicing
            ul.nav-dropdown-items
              li.nav-item
                a.nav-link(href='apps/invoicing/invoice.html')
                  i.nav-icon.icon-speech
                  |  Invoice
                  span.badge.badge-danger PRO
          li.nav-item.nav-dropdown
            a.nav-link.nav-dropdown-toggle(href='#')
              i.nav-icon.icon-speech
              |  Email
            ul.nav-dropdown-items
              li.nav-item
                a.nav-link(href='apps/email/inbox.html')
                  i.nav-icon.icon-speech
                  |  Inbox
                  span.badge.badge-danger PRO
              li.nav-item
                a.nav-link(href='apps/email/message.html')
                  i.nav-icon.icon-speech
                  |  Message
                  span.badge.badge-danger PRO
              li.nav-item
                a.nav-link(href='apps/email/compose.html')
                  i.nav-icon.icon-speech
                  |  Compose
                  span.badge.badge-danger PRO
      li.nav-divider
      li.nav-title
        | Labels
      li.nav-item.d-compact-none.d-minimized-none
        a.nav-label(href='#')
          i.fa.fa-circle.text-danger
          |  Label danger
      li.nav-item.d-compact-none.d-minimized-none
        a.nav-label(href='#')
          i.fa.fa-circle.text-info
          |  Label info
      li.nav-item.d-compact-none.d-minimized-none
        a.nav-label(href='#')
          i.fa.fa-circle.text-warning
          |  Label warning
      li.nav-divider
      li.nav-title
        | System Utilization
      li.nav-item.px-3.d-compact-none.d-minimized-none
        .text-uppercase.mb-1
          small
            b CPU Usage
        .progress.progress-xs
          .progress-bar.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
        small.text-muted 348 Processes. 1/4 Cores.
      li.nav-item.px-3.d-compact-none.d-minimized-none
        .text-uppercase.mb-1
          small
            b Memory Usage
        .progress.progress-xs
          .progress-bar.bg-warning(role='progressbar', style='width: 70%', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100')
        small.text-muted 11444GB/16384MB
      li.nav-item.px-3.mb-3.d-compact-none.d-minimized-none
        .text-uppercase.mb-1
          small
            b SSD 1 Usage
        .progress.progress-xs
          .progress-bar.bg-danger(role='progressbar', style='width: 95%', aria-valuenow='95', aria-valuemin='0', aria-valuemax='100')
        small.text-muted 243GB/256GB
  button.sidebar-minimizer.brand-minimizer(type='button')
