extends /default.pug

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/jquery-ui-dist/jquery-ui.min.js')
  script(src='js/draggable-cards.js')

block view
  .animated.fadeIn
    .row
      .col-md-4
        .row.dragdrop
          .col-md-12
            .card.card-accent-secondary
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          .col-md-12
            .card.card-accent-primary
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      .col-md-4
        .row.dragdrop
          .col-md-12
            .card.card-accent-success
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          .col-md-12
            .card.card-accent-warning
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      .col-md-4
        .row.dragdrop
          .col-md-12
            .card.card-accent-info
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          .col-md-12
            .card.card-accent-danger
              .card-header.drag
                | Drag & Drop Card
                a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
              .card-body
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
