extends /default.pug

block styles
  link(href='node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css', rel='stylesheet')

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/datatables.net/js/jquery.dataTables.js')
  script(src='node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js')
  script(src='js/datatables.js')

block view
  .animated.fadeIn
    .card
      .card-header
        i.fa.fa-edit
        |  DataTables
        .card-header-actions
          a.card-header-action(href='https://datatables.net', target='_blank')
            small.text-muted docs
      .card-body
        table.table.table-striped.table-bordered.datatable
          thead
            tr
              th Username
              th Date registered
              th Role
              th Status
              th Actions
          tbody
            tr
              td Anton Phunihel
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Alphonse Ivo
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Thancmar Theophanes
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Walerian Khwaja
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Clemens Janko
              td 2012/02/01
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Chidubem Gottlob
              td 2012/02/01
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Hristofor Sergio
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Tadhg Griogair
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Pollux Beaumont
              td 2012/01/21
              td Staff
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Adam Alister
              td 2012/01/21
              td Staff
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Carlito Roffe
              td 2012/08/23
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Sana Amrin
              td 2012/08/23
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Adinah Ralph
              td 2012/06/01
              td Admin
              td
                span.badge.badge-dark Inactive
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Dederick Mihail
              td 2012/06/01
              td Admin
              td
                span.badge.badge-dark Inactive
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Hipólito András
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Fricis Arieh
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Scottie Maximilian
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Bao Gaspar
              td 2012/01/01
              td Member
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Tullio Luka
              td 2012/02/01
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Felice Arseniy
              td 2012/02/01
              td Admin
              td
                span.badge.badge-dark Inactive
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Finlay Alf
              td 2012/02/01
              td Admin
              td
                span.badge.badge-dark Inactive
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Theophilus Nala
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Sullivan Robert
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Kristóf Filiberto
              td 2012/01/21
              td Staff
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Kuzma Edvard
              td 2012/01/21
              td Staff
              td
                span.badge.badge-success Active
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Bünyamin Kasper
              td 2012/08/23
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Crofton Arran
              td 2012/08/23
              td Staff
              td
                span.badge.badge-danger Banned
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Bernhard Shelah
              td 2012/06/01
              td Admin
              td
                span.badge.badge-dark Inactive
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Grahame Miodrag
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Innokentiy Celio
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Kostandin Warinhari
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
            tr
              td Ajith Hristijan
              td 2012/03/01
              td Member
              td
                span.badge.badge-warning Pending
              td
                a.btn.btn-success(href='#')
                  i.fa.fa-search-plus
                a.btn.btn-info(href='#')
                  i.fa.fa-edit
                a.btn.btn-danger(href='#')
                  i.fa.fa-trash-o
