extends /default.pug

block styles
  link(href='vendors/toastr/css/toastr.min.css', rel='stylesheet')

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/toastr/toastr.js')
  script(src='js/toastr.js')

block view
  .animated.fadeIn
    .card
      .card-header
        i.fa.fa-edit
        |  Toastr Notifications
        a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
        .card-header-actions
          a.card-header-action(href='http://codeseven.github.io/toastr/demo.html', target='_blank')
            small.text-muted docs
      .card-body
        .row
          .col-md-5
            .form-group
              label.control-label(for='title') Title
              input#title.form-control(type='text', placeholder='Enter a title ...')
            .form-group
              label.control-label(for='message') Message
              textarea#message.form-control(rows='3', placeholder='Enter a message ...')
            .checkbox
              label.checkbox(for='closeButton')
                input#closeButton(type='checkbox', value='checked')
                |  Close Button
            .checkbox
              label.checkbox(for='addBehaviorOnToastClick')
                input#addBehaviorOnToastClick(type='checkbox', value='checked')
                |  Add behavior on toast click
            .checkbox
              label.checkbox(for='debugInfo')
                input#debugInfo(type='checkbox', value='checked')
                |  Debug
            .checkbox
              label.checkbox(for='progressBar')
                input#progressBar(type='checkbox', value='checked')
                |  Progress Bar
            .checkbox
              label.checkbox(for='preventDuplicates')
                input#preventDuplicates(type='checkbox', value='checked')
                |  Prevent Duplicates
            .checkbox
              label.checkbox(for='addClear')
                input#addClear(type='checkbox', value='checked')
                |  Add button to force clearing a toast, ignoring focus
            .checkbox
              label.checkbox(for='newestOnTop')
                input#newestOnTop(type='checkbox', value='checked')
                |  Newest on top
          .col-md-3
            #toastTypeGroup.control-group
              label Toast type
              .radio
                label
                  input(type='radio', name='toasts', value='success', checked='')
                  |  Success
              .radio
                label
                  input(type='radio', name='toasts', value='info')
                  |  Info
              .radio
                label
                  input(type='radio', name='toasts', value='warning')
                  |  Warning
              .radio
                label
                  input(type='radio', name='toasts', value='error')
                  |  Error
            #positionGroup.control-group
              label Toast position
              .radio
                label
                  input(type='radio', name='position', value='toast-top-right')
                  |  Top Right
              .radio
                label
                  input(type='radio', name='position', value='toast-bottom-right')
                  |  Bottom Right
              .radio
                label
                  input(type='radio', name='position', value='toast-bottom-left')
                  |  Bottom Left
              .radio
                label
                  input(type='radio', name='position', value='toast-top-left')
                  |  Top Left
              .radio
                label
                  input(type='radio', name='position', value='toast-top-full-width')
                  |  Top Full Width
              .radio
                label
                  input(type='radio', name='position', value='toast-bottom-full-width')
                  |  Bottom Full Width
              .radio
                label
                  input(type='radio', name='position', value='toast-top-center')
                  |  Top Center
              .radio
                label
                  input(type='radio', name='position', value='toast-bottom-center')
                  |  Bottom Center
          .col-md-2
            .control-group
              .form-group
                label.control-label(for='showEasing') Show Easing
                input#showEasing.form-control(type='text', placeholder='swing, linear', value='swing')
              .form-group
                label.control-label(for='hideEasing') Hide Easing
                input#hideEasing.form-control(type='text', placeholder='swing, linear', value='linear')
              .form-group
                label.control-label(for='showMethod') Show Method
                input#showMethod.form-control(type='text', placeholder='show, fadeIn, slideDown', value='fadeIn')
              .form-group
                label.control-label(for='hideMethod') Hide Method
                input#hideMethod.form-control(type='text', placeholder='hide, fadeOut, slideUp', value='fadeOut')
          .col-md-2
            .control-group
              .form-group
                label.control-label(for='showDuration') Show Duration
                input#showDuration.form-control(type='text', placeholder='ms', value='300')
              .form-group
                label.control-label(for='hideDuration') Hide Duration
                input#hideDuration.form-control(type='text', placeholder='ms', value='1000')
              .form-group
                label.control-label(for='timeOut') Time out
                input#timeOut.form-control(type='text', placeholder='ms', value='5000')
              .form-group
                label.control-label(for='extendedTimeOut') Extended time out
                input#extendedTimeOut.form-control(type='text', placeholder='ms', value='1000')
        button#showtoast.btn.btn-primary(type='button') Show Toast
        button#cleartoasts.btn.btn-danger(type='button') Clear Toasts
        button#clearlasttoast.btn.btn-danger(type='button') Clear Last Toast
        div(style='margin-top: 25px;')
          pre#toastrOptions.
