extends /default.pug

block scripts
  // Plugins and scripts required by this view
  script(src='js/google-maps.js')
  script(src='https://maps.googleapis.com/maps/api/js?callback=InitMap&key=AIzaSyASyYRBZmULmrmw_P9kgr7_266OhFNinPA')

block view
  .animated.fadeIn
    .card
      .card-header
        i.icon-map
        | Google Maps
        a.badge.badge-danger(href='https://coreui.io/pro/') CoreUI Pro Component
        .card-header-actions
          a.card-header-action(href='https://google-developers.appspot.com/maps/documentation/javascript/reference', target='_blank')
            small.text-muted docs
      .card-body
        #map(style='height:360px;')
