extends /default.pug

block styles
  link(href='node_modules/codemirror/lib/codemirror.css', rel='stylesheet')

block scripts
  // Plugins and scripts required by this view
  script(src='node_modules/codemirror/lib/codemirror.js')
  script(src='node_modules/codemirror/mode/xml/xml.js')
  script(src='js/code-editor.js')
  
block view
  include code-editor.html
